:root {
  --background-color: #323437;
  --background-color--brighter: #474a4d;
  --text-color--primary: #d1d0c5;
  --text-color--secondary: #646669;
  --color-primary: #e2b714;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}
